.otp-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-box {
  background: rgba(0,0,0,0.6);
  padding: 60px;
  border-radius: 16px;
  color: white;
  text-align: center;
  width: 380px;
  backdrop-filter: blur(12px);
}

.fade-out-box {
  animation: fadeOutBox 0.8s forwards;
}

@keyframes fadeOutBox {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.9); }
}